@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');



body {
  background: linear-gradient(180deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
  scroll-behavior: smooth;
  font-family: IBM Plex Sans Thai Looped, sans-serif,monospace;
  color: #fff;
}

#menu {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* homepage */

#header-home {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-image: url(../images/programmer.png);
  background-size: 1fr;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff;
  padding: 0 10%;
  margin-bottom: 20px;
  }

  nav {
    display: inline-flex;
    text-align: center;
    justify-content: center;

  }

  nav ul li {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    }

 li a:hover {
  color: #fca311;

}
  ul li {
    list-style: none;
    font-weight: bold;
  }

   li a {
    text-decoration: none;
    color: #38F00A;
    padding: 2px 2px 2px 2px;
  }

  .contacts {
    border: solid #fca311;
    border-radius: 5%;
    background-color: transparent;
    padding: 2px;
  }
  #contacts-homepage {
    text-decoration: underline;
  }

.main-text {
  margin: -5% -12%;

}
.animation-text {
  margin: 0 10%;
  padding: 20px 20px 20px 20px;
  position: absolute;
  transform:translate(-25%,-20%);
  overflow: hidden;
  height: 40px;
  }

      .sequence {
        font-style: oblique;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;

      }
      .sequence:first-child {
        animation: anim 4s infinite;
      }

        @keyframes anim {
          0% {
            margin-top: 0px;
          }
          20% {
            margin-top: -70px;
          }
          35% {
            margin-top: -130px;
          }
          50% {
            margin-top: -190px;
          }
          65% {
            margin-top: -130px;
          }
          80% {
            margin-top: -70px;
          }

          100% {
            margin-top: 0px;
          }

        }

  #home-btn {
    margin-top: 15%;
    width:200px;
    height: 50px;
    background-color: transparent;
    border: solid #38F00A;
    border-radius: 2%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: width 3s;
    cursor: pointer;

  }
  #home-btn:hover {
    background-color: #03045E;
  }

  button :hover {

    color: #38F00A;
    text-transform: uppercase;
  }

  button a {
    text-decoration: none;
    color: #fff;
  }

  /* about-page */


    .box-about {

      width: 100%;
      box-sizing: border-box;
      padding: 20px 20px 20px 20px;
      margin-top: 5%;
      box-shadow: 0 3px 10px #eee;
    }
    .about-page {
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .about-desc {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;

    }
    .about-desc p {
      position:relative;
      text-align: right;
      text-indent: 2%;
      margin-left: 4px;

    }
    .about-desc p:before {
      content: '';
      width: 0;
      height: 110%;
      position: absolute;
      border: 1px solid black;
      transform: translateX(-100px);
      top: -15px;
      left: 100px;

    }

    .about-desc img{
      max-width: 50%;
      height: 50%;
      margin-right: 4px;
      border-radius: 5%;
    }

  .skills-title h2 {
    margin-top: 10%;
    text-align: center;
  }
  .skills {
    display: block;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 10%;
  }
  .skills-icon {
    width: 75px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 5px 10px #eee;
  }

  /* portfolio-page */

    #portfolio {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10%;
      margin-bottom:10%;
      width: 100%;
      }

  .frames {
    display: inline-flex;

  }
  .frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-radius: 2%;
    padding: 5px;
    box-shadow: 0px 3px 10px #eee;
    margin: 10px;
  }


  .frame .icon {
    width: 25px;
    height: 25px;
  }

  .screenshot {
      padding: 5% 10%;
      width: 50%;
      border-radius: 50%;

  }
  .screenshot:hover {
    width: 60%;
  }

  /* contact-page */

  .contact-page {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% auto;
    width: 50%;
    box-shadow: 10px 10px 10px 10px #888888;
  }


  #chat-btn {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: solid #38F00A;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius:50%;
    align-self: center;

  }

  #chat-btn:hover {
    background-color: #03045E;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

  }

  input {
    align-self: center;
    margin-bottom: 2px;
    border-style: solid;
    border-color: #000;
    border-width: thin;
    width: 200px;
    height: 30px;

  }
  textarea {
    align-self: center;
    border-style: solid;
    border-color: #000;
    border-width: thin;
  }

  #submit-btn {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

  }
  #submit-btn:hover {
    background-color: transparent;
  }

  /* FOOTER */

  footer {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #03045E;

  }

  footer a,h5{
    color: #fff;
  }

footer a:hover {
  color: #38F00A;
}
  .social-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: -30px;

  }
  .icon {
    width:35px;
    height: 35px;
    margin: 10px 20px 10px 20px;

    }

    .icon:hover {
      background-color: #38F00A;
      border-radius: 50%;
    }

  @media only screen and (min-width: 320px) and (max-width: 812px) {

      .frames {
        display: flex;
        flex-wrap: wrap;
      }
      .frame {
        width: 100%;
      }
      footer h5 {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        font-weight: lighter;
        line-height: 15px;

        }
        .box-about {
          margin-left: auto;
          margin-right: auto;
          text-align: center;

        }
        .contact-page {

          margin-left: auto;
          margin-right: auto;
          width: 60%;

    }
