@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');



body {
  background: linear-gradient(180deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%) no-repeat fixed ;
  scroll-behavior: smooth;
  font-family: IBM Plex Sans Thai Looped, sans-serif,monospace;
  color: #fff;

}

#menu {
  display: flex;
  text-align: center;
  justify-content: space-between;
  }

  #menu img {
    width:200px;
    height: 200px;
    margin: -40px;
  justify-content: center;
  }

  #hamburger-menu {
    position: fixed;
    margin-left: 80%;
    margin-top:2%;
    height: 50px;
    width: 50px;
    background:url(../images/hamburgerMenu.png) no-repeat center;
    border: solid 1px #000;
    border-radius: 50%;
    display: none;
  }



/* homepage */

#header-home {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  background: url(../images/programmer.png) no-repeat right bottom;
  background-size: 1fr;
  color: #fff;
  padding: 0 10%;
  margin-bottom: 20px;
  }

  nav {
    display: inline-flex;
    text-align: center;
    justify-content: center;

  }

  nav ul li {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    }

 li a:hover {
  color: #fca311;

}
  ul li {
    list-style: none;
    font-weight: bold;
  }

   li a {
    text-decoration: none;
    color: #38F00A;
    padding: 2px 2px 2px 2px;
  }

  .contacts {
    border: solid #38F00A;
    box-shadow: 0 0 15px #38F00A;
    border-radius: 20px;
    background: linear-gradient(45deg,#42047e,#f9035e,#38F00A);
    background-size: 300%;
    background-position: left;
    padding: 5px;
    animation: animate 3s ease alternate infinite;
  }
  @keyframes animate {
    from {
      background-position: left;
    }

      to {
      background-position: right;
    }

  }

  #contacts-homepage {
    text-decoration: underline;
  }


 .main-text {
  margin: -5% -10%;

 }

.animation-text {
  margin: 0 10%;
  padding: 10px 20px 20px 10px;
  position: absolute;
  transform:translate(-20%,-20%);
  overflow: hidden;
  height: 40px;
  }

      .sequence {
        font-style: oblique;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-shadow:4px 4px #0008;
        animation: glow 0.5s linear infinite;
      }


      @keyframes glow {
        0% {
          text-shadow: 0 0 10px #03bcf4;
        }
        20% {
          text-shadow: none;
        }
        35% {
          text-shadow: 0 0 10px #03bcf4;
        }
        50% {
          text-shadow: none;
        }
        65% {
          text-shadow: 0 0 10px #03bcf4;
        }
        80% {
          text-shadow: none;
        }

        100% {
          text-shadow: 0 0 10px #03bcf4;
        }

      }


      .sequence:first-child {
        animation: glow 0.5s infinite, anim 5s infinite;
      }

        @keyframes anim {
          0% {
            margin-top: 0px;

          }
          20% {
            margin-top: -70px;
          }
          35% {
            margin-top: -130px;
          }
          50% {
            margin-top: -190px;
          }
          65% {
            margin-top: -130px;
          }
          80% {
            margin-top: -70px;
          }

          100% {
            margin-top: 0px;
          }

        }

  #home-btn {
    margin-top: 20%;
    width:150px;
    width:200px;
    height: 50px;
    background-color: transparent;
    border: solid #38F00A;
    border-radius: 20px;
    box-shadow: 0 0 10px #eee;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease;

  }
  #home-btn:hover {
    box-shadow: 0px 0px 10px 2px #eee;
    transform: translate(30px,-30px);
    width: 200px;
    height: 100px;
    font-size: 25px;
    text-transform: uppercase;

    }

  button :hover {

    color: #38F00A;
      }

  button a {
    text-decoration: none;
    color: #fff;
  }

  /* about-page */


    .box-about {
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      margin-top: 5%;
      box-shadow: 0 3px 10px #eee;
    }
    .about-page {
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .about-desc {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;

    }
    .about-desc p {
      position:relative;
      text-align: center;
      text-indent: 2%;
      margin-left: 4px;

    }
    .about-desc p:before {
      content: '';
      width: 0;
      height: 110%;
      position: absolute;
      border: 1px solid black;
      transform: translateX(-100px);
      top: -15px;
      left: 100px;

    }

    .about-desc img{
      max-width: 50%;
      height: 50%;
      margin-right: 4px;
      border-radius: 5%;
    }
    .about-btn {
       display: flex;
       align-items: center;
       justify-content: space-around;
       margin-top: 5%;
   }
   .about-btn button {
     width: 180px;
    height: 5vh;
    border-radius: 15px;
    box-shadow: 0 0 10px #eee;
    background-color: transparent ;
    padding: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: background-color 2s, transform 2s ease;
    cursor:pointer;
   }

     .about-btn button:hover {
       background: linear-gradient(45deg,#42047e,#f9035e,#38F00A);
       transform: scale(1.1);

}


  .skills-title h2 {
    margin-top: 10%;
    text-align: center;
  }
  .skills {
    display: block;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 10%;
  }
  .skills-icon {
    width: 75px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 5px 10px #eee;
    transition: width 2s ease;
  }
  .skills-icon:hover {
    width: 125px;
  }

  /* portfolio-page */

    #portfolio {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 5%;
      margin-bottom: 10%;
      width: 100%;
      }

  .frames {
    display: inline-flex;

  }
  .frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-radius: 2%;
    padding: 5px;
    box-shadow: 0px 3px 10px #eee;
    margin: 10px;
  }


  .frame .icon {
    width: 25px;
    height: 25px;
  }

  .screenshot {
      padding: 5% 10%;
      width: 50%;
      border-radius: 50%;

  }
  .screenshot:hover {
    width: 60%;
  }

  /* contact-page */

  .contact-page {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% auto;
    width: 50%;
    box-shadow: 0px 5px 10px #eee;
  }


  #chat-btn {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: solid #38F00A;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius:50%;
    align-self: center;
      }

  #chat-btn:hover{
    background-color: #03045E;
    animation: pulse 0.6s ease infinite;
  }

  @keyframes pulse {
            0% {
                transform: scale(.8);
            }

            100% {
              transform: scale(1.2);

            }
        }


  #contact-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

  }

  input {
    align-self: center;
    margin-bottom: 2px;
    border-style: solid;
    border-color: #000;
    border-width: thin;
    width: 200px;
    height: 30px;

  }
  textarea {
    align-self: center;
    border-style: solid;
    border-color: #000;
    border-width: thin;
  }

  #submit-btn {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

  }
  #submit-btn:hover {
    background-color: transparent;
  }

  /* FOOTER */

  footer {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: hsla(158, 94%, 49%, 1);
    border-top: 2px solid #03045E;

  }

  footer a,h5{
    color: #000;
    font-weight: bold;
  }

footer a:hover {
  color: #03045E;
}
  .social-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -0.8vh;

  }
  .icon {
    width:35px;
    height: 35px;
    margin: 10px 20px 10px 20px;

    }

    .icon:hover {
      background-color: #38F00A;
      border-radius: 50%;
    }

@media only screen and (max-width: 480px) {
  .box-about {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .about-desc {
    display: flex;
    flex-wrap: wrap;
  }
  .about-desc p:before {
    height: 0;
  }
  .contact-page {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   }
 }

 /* modal javascript*/
.modal {
  display: flex;
  position:absolute;
  top: 50%;
  left: 20%;
  width: 500px;
  height: 20vh;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: rgb(51, 129, 142);
}
.close-btn {
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer
}
@media only screen and (max-width: 690px) {

.modal {
     width: 80vw;
     left: 6%;
   }
}

 @media only screen and (max-width: 540px) {

 #hamburger-menu {
   display: block;
   cursor: pointer;
 }

 nav {
   display: none;
   width: 50%;
   height: 100vh;
   background-color: rgb(31, 139, 142, 0.4);
 }

 ul {
   position:absolute;
   width:30%;
   margin-top: 30vh;

 }

 nav a {
     color: #000;

   }
 }


  @media only screen and (max-width: 812px) {
    .frames {
      display: flex;
      flex-wrap: wrap;
    }
    .frame {
      width: 100%;
    }
  }

    @media only screen and (min-width: 320px) and (max-width: 669px) {

    .social-icons {
       margin-top: 1vh;
     }
    .icon {
      margin: 0 auto;
      }
      footer h5 {
        margin-top: 2.5vh;
        font-weight: lighter;
        }
    }
